* {
    font-family: sans-serif
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    color: #696F73;
    padding-left: 2.5em;
    padding-top: 0.75em;
    padding-bottom: 0em;
}

li {
    display: inline-block;
    padding: 1em 20px;
    font-size: 16px;
    background-color: #1D3B4D;
    border: none;
    border-radius: 5px;
    cursor: text;
}

a {
    color: white;
    text-decoration: none;
}

p {
    padding: 2em;
    word-wrap: break-word;
}

@media screen and (max-height: 500px) {
    header {
        display: none;
    }
}

#banner {
    display: none; 
    background-color: #1D3B4D;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }