* {
    font-family: sans-serif
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    color: #696F73;
    padding-left: 2.5em;
    padding-top: 0.75em;
    padding-bottom: 0em;
}

li {
    display: inline-block;
    padding: 1em 20px;
    font-size: 16px;
    background-color: #1D3B4D;
    border: none;
    border-radius: 5px;
    cursor: text;
}

#links {
    color: white;
    text-decoration: none;
}

@media screen and (max-height: 500px) {
    header {
        display: none;
    }
}

#whose_calendar {
    padding-top: 5px;
    color: #444749;
    position: relative;
    display: flex;
    left: 22vw;
    align-items: flex-end;
}

h3 {
    position: relative;
    left: 3vw;
    color: #444749;
}

#calendar_name {
    position: relative;
    left: 3vw;
    padding: 3px;
}

button {
    display: flex;
    justify-content: center;
    background-color: #1D3B4D;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 3px;
    position: relative;
}

form {
    position: relative;
    left: 3vw;
}

table {
    justify-content: center;
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th {
    background-color: #333;
    color: #fff;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
}

table td {
    height: 100px;
    text-align: center;
}

#month {
    color:#444749;
    margin: 0; 
    margin-right: 10px;
}

#year {
    color:#444749;
    margin: 0; 
    padding-left: 0;
}

#calendar {
    position: relative;
    margin-top: auto;
}

#day {
    text-decoration: none;
    color: black;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea, select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }